.container {
  display: grid !important;
  grid-template-columns: 0.2fr 1.8fr !important;
  grid-auto-columns: 1fr !important;
  gap: 0px 5px !important;
  grid-auto-flow: row !important;
  grid-template-areas: "NavTog NewsLetterBody" "NavBottom NewsLetterBody" !important;
  height: inherit !important;
}

.NewsLetterBody {
  display: grid; 
  grid-auto-flow: column; 
  grid-template-columns: 0.1fr 3fr 0.1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "NewsLetterLeftBodyGrid NewsLetterGrid NewsLetterRightBodyGrid"; 
  grid-area: NewsLetterBody; 
}
.NewsLetterLeftBodyGrid { grid-area: NewsLetterLeftBodyGrid; }
.NewsLetterRightBodyGrid { grid-area: NewsLetterRightBodyGrid; }
.NewsLetterGrid {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-rows: 0.1fr 0.6fr 0.1fr 4.1fr 0.1fr; 
  gap: 0px 0px; 
  grid-area: NewsLetterGrid; 
}
.NewsLetterTimeFrameDiv {
  display: grid; 
  grid-auto-flow: column; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 2.5fr 2fr 2fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-area: 2 / 1 / 3 / 2; 
  background-color: #F5F5F5;
  border-radius: 4px;
    border: 1px solid #D1D1D1;
    background: #FFF;
}
.NewsletterHeader1 {
  justify-self: center; 
  align-self: center; 
  grid-area: 1 / 1 / 2 / 2; 
}
.NewsletterHeader2 {
  justify-self: center; 
  align-self: center; 
  grid-area: 1 / 2 / 2 / 3; 
}
.NewsletterHeader3 {
  justify-self: start; 
  align-self: center; 
  grid-area: 1 / 3 / 2 / 4; 
}
.NewsletterHeader4 {
  display: grid; 
  grid-template-columns: 0.8fr 1.2fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 10px 10px; 
  grid-template-areas: 
    "NewsletterHeader4-1 NewsletterHeader4-2"
    "NewsletterHeader4-3 NewsletterHeader4-4"; 
  grid-area: 1 / 4 / 2 / 5; 
}
.NewsletterHeader4-1 {
  justify-self: end; 
  align-self: end; 
  grid-area: NewsletterHeader4-1; 
}
.NewsletterHeader4-2 {
  justify-self: start; 
  align-self: end; 
  grid-area: NewsletterHeader4-2; 
}
.NewsletterHeader4-3 {
  justify-self: end; 
  align-self: start; 
  grid-area: NewsletterHeader4-3; 
}
.NewsletterHeader4-4 {
  justify-self: start; 
  align-self: start; 
  grid-area: NewsletterHeader4-4; 
}
.NewsletterHeader5 {
  display: grid; 
  grid-template-columns: 0.4fr 2.2fr 0.4fr; 
  grid-template-rows: 0.4fr 2.2fr 0.4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". NewsletterHeader5-1 ."
    ". . ."; 
  grid-area: 1 / 5 / 2 / 6; 
}
.NewsletterHeader5-1 {
  justify-self: center; 
  align-self: center; 
  grid-area: NewsletterHeader5-1; 
}
.NewsletterHeader6 {
  justify-self: center; 
  align-self: center; 
  grid-area: 1 / 6 / 2 / 7; 
}
.NewsletterHeader7 {
  justify-self: center; 
  align-self: center; 
  grid-area: 1 / 7 / 2 / 8; 
}
.NewsLetterMainGrid {
  display: grid; 
  grid-template-columns: 1.5fr 0.5fr; 
  grid-template-rows: 1fr; 
  gap: 0px 10px; 
  grid-template-areas: 
    "NewsLetterMainDiv NewsLetterChatDiv"; 
  grid-area: 4 / 1 / 5 / 2; 
}
.NewsLetterMainDiv {
  display: grid; 
  grid-auto-flow: column; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.2fr 1.8fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "NewsLetterMainDivHeaderDiv"
    "NewsletterDraftDiv"; 
  grid-area: NewsLetterMainDiv;
  border-radius: 4px;
border: 1px solid #D1D1D1;
background: #FFF; 

}
.NewsLetterMainDivHeaderDiv {
  display: grid; 
  grid-auto-flow: column; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 0.3fr 1.7fr; 
  gap: 0px 0px; 
  grid-area: NewsLetterMainDivHeaderDiv; 
  background-color: #F5F5F5;
}
.NewsLetterMainDivHeaderDiv-1 {
  justify-self: center; 
  align-self: center; 
  grid-area: 1 / 1 / 2 / 2; 
}
.NewsLetterMainDivHeaderDiv-2 {
  justify-self: end; 
  align-self: center; 
  grid-area: 1 / 2 / 2 / 3; 
}
.NewsletterDraftDiv { margin-left: 5px;
  margin-right: 5px;grid-area: NewsletterDraftDiv; }
.NewsLetterChatDiv {
  display: grid; 
  grid-template-columns: 0.5fr 1.5fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". CopilotChatDiv"; 
  grid-area: NewsLetterChatDiv; 
  background-color: #F5F5F5;
  border-radius: 4px;
border: 1px solid var(--Neutral-Stroke-2-Rest, #E0E0E0);
background: var(--Neutral-Background-3-Rest, #F5F5F5);
}
.CopilotChatDiv { 
  margin-left: 10px;
  margin-right: 10px;
  grid-area: CopilotChatDiv;
 }