.Body {
  display: grid; 
  grid-template-columns: 0.2fr 2.3fr 0.2fr; 
  grid-template-rows: 0.6fr 1.4fr 0.1fr; 
  gap: 30px 0px; 
  grid-template-areas: 
    "LeftBodyGrid ProgressGrid RightBodyGrid"
    "LeftBodyGrid DataSourceDiv RightBodyGrid"
    "LeftBodyGrid TopicSelectionDiv RightBodyGrid"
    "LeftBodyGrid FooterGrid RightBodyGrid"; 
  grid-area: Body; 
}
  .LeftBodyGrid { grid-area: LeftBodyGrid; }
  .RightBodyGrid { grid-area: RightBodyGrid; }
  .FooterGrid { grid-area: FooterGrid; }