.DocContainer {  display: grid;
  grid-template-columns: 0.1fr 3fr 0.1fr;
  grid-template-rows: 0.3fr 2.5fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". TopNavGrid ."
    ". DocTableGrid ."
    ". . .";
}

.TopNavGrid {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 5.5fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "DocHeaderDiv AllSelectionDiv PdfSelectionDiv EmailSelectionDiv . FreeTextSearchDiv";
  grid-area: TopNavGrid;
}

.DocHeaderDiv {
  justify-self: start;
  align-self: center;
  grid-area: DocHeaderDiv;
}

.AllSelectionDiv {
  justify-self: start;
  align-self: center;
  grid-area: AllSelectionDiv;
}

.PdfSelectionDiv {
  justify-self: start;
  align-self: center;
  grid-area: PdfSelectionDiv;
}

.EmailSelectionDiv {
  justify-self: start;
  align-self: center;
  grid-area: EmailSelectionDiv;
}

.FreeTextSearchDiv {
  justify-self: end;
  align-self: center;
  grid-area: FreeTextSearchDiv;
}

.DocTableGrid { grid-area: DocTableGrid; }
